@import "scss/config";

.cart {
  display: flex;
}

.cart__title {
  display: flex;
}

.cart__row {
  display: flex;
}

.cart__col {
  display: flex;
}

.cart__image {
  display: flex;
}

.cart__bookkeeping {
  display: flex;
}

.checkout {
  display: flex;
}

.checkout__row {
  display: flex;
}

.checkout__col {
  display: flex;
}

.checkout__title {
  display: flex;
}

.checkout__fields {
  display: flex;
}

.checkout__card {
  display: flex;
}

.checkout__button {
  display: flex;
}