@import "scss/config";

.cart {
  display: flex;
}

.cart__item {
  display: flex;
}

.cart__item-image {
  display: flex;
}

.cart__item-info {
  display: flex;
}

.checkout {
  display: flex;
}

.checkout__customer {
  display: flex;
}

.checkout__payment {
  display: flex;
}

.fields {
  display: flex;
}

.card {
  display: flex;
}