// TODO stillingar hér
$black: #000000;
$white: #fffcf2;
$red: #ff5000;
$blue: #00b7ff;
$lightgray: rgb(189, 185, 185);

$font: 'helvatica',
sans-serif;
$font-headlines: 'Oswald',
sans-serif;
$font-size: 16px;

$gutter: 20px;
$max-width: 1200px;
