// TODO stillingar hér
$black: #000000;
$white: #fffcf2;
$red: #ff5000;
$blue: #00b7ff;
$lightgray: rgb(189, 185, 185);

$font: 'Helvetica',
sans-serif;
$font-headlines: 'Oswald',
sans-serif;
$font-size: 16px;

$gutter: 20px;
$max-width: 1200px;

@mixin reset {
  margin: 0;
  padding: 0;
}

@mixin basicsettings {
  font-family: $font;
  font-size: $font-size;
  padding: $gutter;
  box-sizing: border-box;
  max-width: $max-width;
}

@mixin flexrow {
  display: flex;
  flex-direction: row;
}

@mixin flexcolumn {
  display: flex;
  flex-direction: column;
}

@mixin almostrounded {
  border: 1px solid $black;
  border-radius: 2px;
  padding: $gutter/4;
}
