@import "scss/config";

.course {
  display: flex;
}

.course__row {
  display: flex;
}

.course__col {
  display: flex;
}

.course__title {
  display: flex;
}

.course__text {
  display: flex;
}

.course__image {
  display: flex;
}

.checkout {
  display: flex;
}

.checkout__row {
  display: flex;
}

.checkout__col {
  display: flex;
}

.checkout__title {
  display: flex;
}

.checkout__fields {
  display: flex;
}

.checkout__card {
  display: flex;
}

.checkout__button {
  display: flex;
}