@import "scss/config";

.course {
  display: flex;
}

.course__info {
  display: flex;
}

.course__image {
  display: flex;
}

.checkout {
  display: flex;
}

.checkout__customer {
  display: flex;
}

.checkout__payment {
  display: flex;
}

.fields {
  display: flex;
}

.card {
  display: flex;
}