.footer {
    background-color: $blue;
    font-family: $font;

    padding: $gutter;
    margin-left: -$gutter;
    margin-right: -$gutter;
    
    
    &__content {
        display: flex;
        flex-direction: column;
        @media (min-width: 800px) {
            flex-direction: row;
        }
    }

    &__row {
        display: flex;
        flex-direction: row;
       
        margin-right: $gutter/2;
        margin-left: $gutter/2;  
        @media (min-width: 800px) {
            width: 48,5%;
        }
    }

    &__col {
        width: 100%;
        padding-rigth: $gutter/2;
        padding-left: $gutter/2;
    }   

    &__title {
        font-family: $font_headlines;
    }

    &__tags {
        padding-top: $gutter;
        list-style: none;
        color: $white;
        padding-bottom: $gutter*2;
    }

    &__tag {
        padding-bottom: $gutter/2;
        transition: 200ms ease-in-out;
    }
    
    &__tag:hover {
        color: $black;
    }

    &__trademark {
        text-align: center;
        padding-bottom: $gutter;
    }
    
}