.header {
    background-color: $red;
    font-family: $font;

    padding: $gutter;
    margin-left: -$gutter;
    margin-right: -$gutter;
    
    
    &__row {
        display:flex;
        margin: 0 auto;
        flex-direction: column;
        text-align: center;
        max-width: $max-width;
    } 

    &__title {
        font-family: $font-headlines;
        font-size: 48px;
        padding-bottom: $gutter;
    }

    &__col {
        display:flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    &__col:nth-child(2) {
        justify-self: flex-end;
    }

    &__tags {
        position: relative;
        max-width: $max-width;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
    }

    &__tag {
        padding-right: $gutter;
    }

    &__cart {
        display: flex;
    }
}
