@import "config.scss";

.staff {
  @include reset;
  @include basicsettings;
}

img {
  max-width: 500px;
  max-height: 700px;
}

.flip {
  &__row {
    text-align: center;
    @include flexcolumn;
    width: 100%;
    position: relative;

    @media (min-width: 800px) {
      @include flexrow;
      flex-wrap: wrap;
    }
  }

  &__column:hover &__content {
    transform: rotateY(180deg);
  }

  &__column {
    width: 100vw;
    height: 100vh;
    padding-top: $gutter;
    align-self: center;
    position: relative;

    @media (min-width:800px) {
      width: 50%;
      margin-bottom: $gutter;
    }
  }

  &__column:nth-of-type(1),
  &__column:nth-of-type(3) {
    @media (min-width:800px) {
      margin-right: $gutter/2;
    }
  }

  &__column:nth-of-type(2),
  &__column:nth-of-type(4) {
    @media (min-width:800px) {
      margin-left: $gutter/2;
    }
  }

  &__content {
    height: inherit;
    position: relative;
    transition: transform 200ms;
    transition-timing-function: ease-in-out;
    transform-style: preserve-3d;
  }

  &__front,
  &__back {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
  }

  &__front {
    z-index: 2;
  }


  &__back {
    @include flexcolumn;
    background-color: $white;
    color: $black;
    transform: rotateY(180deg);
    align-items: center;
    justify-content: center;
  }

  &__back>div {
    padding-bottom: $gutter;
  }
}
